h1,p {
    text-align: center;
}
body{
    background-image: url(https://images.unsplash.com/photo-1450101499163-c8848c66ca85?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: white;
    font-size:22px;
    font-family: Tahoma;
}
.dibba{
    background-color:rgba(3, 59, 56, 0.35);
    margin-left:10%;
    margin-right:10%;
    border-left: 0px;
    padding: 10px 20px;
    
}
fieldset{
    padding-top: 20; 
    border: none;
}
label  {
    display:block;
    margin-top:10px;
    
}
.lamba{
    width:100%;
    margin-top:10px;
    margin-bottom: 20px;
    height:30px;
}
input{
    height:30px;
    font-size:16px;
}

 select{
    height:30px;
    font-size:16px;
}


textarea{
    margin-top: 10px;
    display:block;
    width:100%;
    font-size:16px;
}

input[type="submit"]{
    display:block;
    width:100%;
    margin: 10px auto;
    background-color: rgb(4, 102, 4);
    color:whitesmoke;
    height: 35px;
    border:none;
    
}
.inline {
    display:inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  fieldset:last-of-type {
   padding-top: 0%;
  }